@use 'sass:color'

$primary-color:#32e0c4
$primary2-color:#00917c
$warnning-color:#a20a0a
$light-color:#eeeeee
$dark-color:#212121
$gray-text-color:#e7e6e1
$bg-color:#eb5e0b
$bg2-color:color.mix(#ff884b, #ff577f)
$secondary-bg-color:#fb743e
$section-bg-color:#dddddd
$link-color:#6e7c7c
$grandient-color: linear-gradient(to left, #8942a8, #ba382f)

//variaveis diversas tamanho
$container-width:1170px