$primary-color:#32e0c4
$warnning-color:#a20a0a
$light-color:#eeeeee
$dark-color:#212121
$gray-text-color:#e7e6e1
$bg-color:#eb5e0b
$secondary-bg-color:#fb743e
$section-bg-color:#dddddd
$link-color:#6e7c7c

//variaveis diversas tamanho
$container-width:1170px